/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800');


html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}


body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}


input, select {
    vertical-align:middle;
}

/* MY CODE */

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat';
}

/*//////////////// HEADER /////////////////*/
/*/////////////////////////////////////////*/

.content {
    max-width: 1000px;
    margin: auto;
}

.navbar {
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 5;
    display: block;
    background: #101010;
    padding: 10px 0;
}

.navbar .content {
    padding: 0px 30px;
    height: 100%;
    margin: 0 auto;
    display: block;
}

.navbar .logo {
    height: 100%;
    display: table;
    float: left;
}

.navbar .logo a {
    color: #fff;
    font-size: 32px;
    font-weight: 800px;
    display: table-cell;
    vertical-align: middle;
}

.navbar .menu-list {
    float: right;
    height: 100%;
    display: table;
}

.navbar .menu-list li {
    display: table;
    float: left;
    height: 100%;
    padding: 0px 20px;
}

.navbar .menu-list li:last-child {
    padding-right: 0px;
}

.menu-list li a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    display: table-cell;
    vertical-align: middle;
}

.menu-list li a:hover {
    color: grey;
}

.navbar .icon {
    color: white;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.navbar .icon.cancel-btn {
    position: absolute;
    right: 30px;
    top: 50px;
}

.navbar .icon.menu-btn {
    position: absolute;
    right: 30px;
    top: 30px;
}

@media only screen and (max-width: 1000px) {
    .content {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .navbar .icon {
        display: table-cell;
    }

    .navbar .icon.hide {
        display: none;
    }

    .navbar .menu-list {
        float: initial;
        height: 100vh;
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        max-width: 400px;
        background: #222;
        padding: 120px 0;
        text-align: center;
        align-items: center;
        transition: all 0.3s ease;
    }

    .navbar .menu-list.active {
        left: 0%;
    }
    
    .navbar .menu-list li {
        display: block;
        float: initial;
        height: 80px;
    }

    .menu-list li a {
        float:initial;
        display: initial;
        font-size: 23px;
    }

    
}




/*///////////////// INDEX /////////////////*/
/*/////////////////////////////////////////*/


.index-banner {
    width: 100%;
    height: 100vh;
    background-image: url(../img/mountain-background.PNG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: table;
    margin-bottom: 20px;
}

.index-banner h1 {
    font-size: 72px;
    text-align: center;
    color: white;
    display:table-cell;
    vertical-align: middle;
    text-shadow: 0px 3px 3px #000000;
}

.index-segment {
    height: 100%;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.content h1 {
    color: black;
    font-size: 50px;
    margin: 0px 0px 20px 20px;
}

.content p {
    color: black;
    margin: 0px 0px 0px 20px;
}

/*/////////////// PORTFOLIO ///////////////*/
/*/////////////////////////////////////////*/

.portfolio-main {
    padding-top: 100px;
}

.portfolio-wrapper {
    overflow: hidden;
}

.portfolio-info-left, .portfolio-info-right {
    width: 100%;
}

.portfolio-info-left h2, .portfolio-info-right h2 {
    text-align: left;
    padding: 30px 30px 20px;
    font-size: 50px;
    color: black;
    line-height: 44px;
}

.portfolio-info-left p, .portfolio-info-right p {
    text-align: left;
    padding: 0px 30px 20px;
    font-size: 16px;
    color: black;
    line-height: 24px;
}

.portfolio-img-left, .portfolio-img-right {
    width: 100%;
}

.container-video-left, .container-video-right {
    position: relative;
    padding-bottom: 56.25%;
}


.container-video-left iframe, .container-video-right iframe, 
.video-container-left object, .video-container-left object,
.video-container-left embed, .video-container-right embed {
    position: absolute;
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
}

@media only screen and (min-width: 768px) {
    .portfolio-wrapper {
        width: 600px;
        margin: 0 auto 20px auto;
    }

    .portfolio-info-left h2, .portfolio-info-right h2 {
        padding: 20px 0px 0px;
    }
    
    .portfolio-img-info-left p, .portfolio-info-right p {
        padding: 20px 0px 0px;
    }
}

@media only screen and (min-width: 1000px) {
    .portfolio-wrapper {
        width: 1000px;
    }

    .container-video-left {
        height: 50%;
        width: 50%;
        float: left;
    }

    .container-video-right {
        height: 100%;
        width: 50%;
        float: right;
    }

    .container-video-left, .container-video-right {
        padding-bottom: 28.125%;
    }


    .container-video-left iframe, .container-video-right iframe, 
    .video-container-left object, .video-container-left object,
    .video-container-left embed, .video-container-right embed {
    height: 100%;
}


    .portfolio-info-left {
        width: 50%;
        float: left;
    }

    .portfolio-info-right {
        width: 50%;
        float: right;
    }

    .portfolio-info-left h2 {
        padding: 20px 0px 0px;
    }
    
    .portfolio-info-left p {
        padding: 20px 30px 0px 0px;
    }

    .portfolio-info-right h2 {
        padding: 20px 0px 0px 30px;
    }
    
    .portfolio-info-right p {
        padding: 20px 0px 0px 30px;
    }

    .portfolio-img-left {
        width: 50%;
        float:left;
    }

    .portfolio-img-right {
        width: 50%;
        float:right;
    }
}

/*//////////////// CONTACT ////////////////*/
/*/////////////////////////////////////////*/

.contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact .contact-wrapper {
    max-width: 800px;
    text-align: center;
}

.contact .contact-wrapper h2 {
    font-size: 70px;
    font-weight: 500px;
}

.contact .contact-wrapper p {
    font-size: 24px;
    font-weight: 300px;
    margin-top: 20px;
}

.contact-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.contact-container .contact-info {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.contact-container .contact-info .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.contact-container .contact-info .box .icon {
    font-size: 26px;
    min-width: 60px;
    height: 60px;
    color: white;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;;
}

.contact-container .contact-info .box .contact-text {
    display: flex;
    margin-left: 20px;
    font-size: 18px;
    flex-direction: column;
    font-weight: 300px;
}

.contact-container .contact-info .box .contact-text h3 {
    font-size: 20px;
    font-weight: 500px;
}

.contact-container .contact-info .box .contact-text p {
    margin-top: 10px;
}

.contactForm {
    width: 40%;
    padding: 40px;
    background: #000;
}

.contactForm h2 {
    color: white;
    font-size: 30px;
    font-weight: 500px;
}

.contactForm .input-box {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .input-box input, 
.contactForm .input-box textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    color:white;
    background-color: black;
    border-bottom: 2px solid white;
    outline: none;
    resize: none;
}

.contactForm .input-box span {
    position: absolute;
    left: 0;
    color: white;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: rgb(235, 224, 224)
}

.contactForm .input-box input:focus ~ span,
.contactForm .input-box input:valid ~ span,
.contactForm .input-box textarea:focus ~ span,
.contactForm .input-box textarea:valid ~ span {
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-17px);
}

.contactForm .input-box input[type="submit"] {
    width: 100px;
    color: black;
    background: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

.contactForm .input-box input[type="submit"]:hover {
    background: rgb(190, 187, 187);
    transition: 0.3s;
}

@media only screen and (max-width: 1000px){
    .contact {
        padding: 150px 50px 50px 50px;
    }

    .contact-container {
        flex-direction: column;
    }

    .contact-container .contact-info {
        margin-bottom: 40px;
    }

    .contact-container .contact-info,
    .contactForm {
        width: 100%;
    }
}

@media only screen and (min-width: 1000px) {
    .contact-container {
        width: 1000px;
    }
}

/*//////////////// FOOTER /////////////////*/
/*/////////////////////////////////////////*/

.footer-wrapper {
    max-width: 1000px;
}

footer {
    width: calc(100%-80px);
    padding: 40px 40px;
    background-color: #111;
    overflow: hidden;
}

footer ul {
    width: fit-content;
    float: left;
    padding-left: 20px;
}

footer ul li {
    display: block;
    list-style: none;
}

footer ul li a{
    font-size: 24px;
    color: #fff;
    line-height: 35px;
}

.footer-sm {
    width: 60px;
    float: right;
}

.footer-sm img {
    width: 100%;
    margin-bottom: 10px;
}